---
export interface Props {}
const {  } = Astro.props;
---

<div data-eval-component="ContentBlock" class="amenitiies-section"><div class="wrapper amenities"><div class="heading-wrapper amenities"><h2 class="white-heading-2">Everything you need to crush your fitness goals</h2></div><div class="collection-list-wrapper-2 w-dyn-list"><div role="list" class="collection-list-2 w-dyn-items"><div role="listitem" class="collection-item-4 w-dyn-item"><div class="amenities-card"><div class="w-embed"><svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="75" height="75">
<rect width="75" height="75" fill="white"></rect>
</mask>
<g mask="url(#mask0)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M63.0144 12.4897V16.2346H73.7449V59.9792H73.7441C73.7109 68.2675 66.9586 75 58.6627 75C54.8606 75 51.383 73.5852 48.7275 71.2551H0V16.2346H10.7305V12.4897C10.7305 8.35986 14.0903 5 18.2202 5C22.35 5 25.7099 8.35986 25.7099 12.4897V16.2346H48.035V12.4897C48.035 8.35986 51.3948 5 55.5247 5C59.6545 5 63.0144 8.35986 63.0144 12.4897ZM55.5247 9.32099C53.7774 9.32099 52.356 10.7424 52.356 12.4897V16.2346H58.6934V12.4897C58.6934 10.7424 57.272 9.32099 55.5247 9.32099ZM18.2202 9.32099C16.4729 9.32099 15.0514 10.7424 15.0514 12.4897V16.2346H21.3889V12.4897C21.3889 10.7424 19.9674 9.32099 18.2202 9.32099ZM47.9015 59.9179C47.9015 65.8516 52.7289 70.679 58.6626 70.679C64.5963 70.679 69.4239 65.8516 69.4239 59.9179C69.4239 54.7239 65.725 50.3777 60.8231 49.3747V57.7368H65.1029V62.0578H56.5021V49.3747C51.6002 50.3777 47.9015 54.7239 47.9015 59.9179ZM43.5805 59.9179C43.5805 51.6016 50.3463 44.8356 58.6626 44.8356C62.873 44.8356 66.6851 46.5705 69.4239 49.362V20.5556H4.32099V66.9342H45.3154C44.2085 64.837 43.5805 62.4495 43.5805 59.9179ZM21.6053 24.8766H8.64233V29.1975H21.6053V24.8766ZM56.1726 24.8766H64.8146V29.1975H56.1726V24.8766ZM12.9633 36.2552H8.64233V40.5762H12.9633V36.2552ZM17.2838 36.2552H21.6048V40.5762H17.2838V36.2552ZM30.2471 36.2552H25.9261V40.5762H30.2471V36.2552ZM34.5676 36.2552H38.8886V40.5762H34.5676V36.2552ZM47.5309 36.2552H43.21V40.5762H47.5309V36.2552ZM51.8514 36.2552H56.1724V40.5762H51.8514V36.2552ZM64.8148 36.2552H60.4938V40.5762H64.8148V36.2552ZM8.64233 45.7613H12.9633V50.0823H8.64233V45.7613ZM21.6048 45.7613H17.2838V50.0823H21.6048V45.7613ZM25.9261 45.7613H30.2471V50.0823H25.9261V45.7613ZM38.8886 45.7613H34.5676V50.0823H38.8886V45.7613ZM8.64233 55.4115H12.9633V59.7325H8.64233V55.4115ZM21.6048 55.4115H17.2838V59.7325H21.6048V55.4115ZM25.9261 55.4115H30.2471V59.7325H25.9261V55.4115ZM38.8886 55.4115H34.5676V59.7325H38.8886V55.4115Z" fill="var(--modern-accent, #0464fc)"></path>
</g>
</svg></div><h4 class="amenity-name">Weekend Workout Classes</h4></div></div><div role="listitem" class="collection-item-4 w-dyn-item"><div class="amenities-card"><div class="w-embed"><svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="75" height="75">
<rect width="75" height="75" fill="white"></rect>
</mask>
<g mask="url(#mask0)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 5H70.0085V63.9637H43.8327L44.1127 64.7101C45.5007 68.4113 49.0891 70.8979 53.0419 70.8979V75H16.9667V70.8979H17.1413C21.094 70.8979 24.6825 68.4113 26.0705 64.7103L26.3505 63.9637H0V5ZM65.9064 51.5768V9.10206H4.10206V51.5768H65.9064ZM43.3072 70.8979C41.9976 69.567 40.9506 67.9605 40.2718 66.1506L39.4516 63.9637H30.7315L29.9114 66.1506C29.2326 67.9605 28.1855 69.567 26.8759 70.8979H43.3072ZM4.10206 55.6789V59.8616H65.9064V55.6789H4.10206ZM17.9388 45.4245C14.4173 45.4245 11.5523 42.5596 11.5523 39.0381V32.1971H7.97217V28.095H11.5523V21.254C11.5523 17.7326 14.4172 14.8677 17.9387 14.8677C21.4601 14.8677 24.3252 17.7326 24.3252 21.254V24.2662H45.6831V21.254C45.6831 17.7326 48.548 14.8677 52.0694 14.8677C55.5909 14.8677 58.4558 17.7326 58.4558 21.254V28.095H62.0361V32.1971H58.4558V39.0381C58.4558 42.5596 55.5909 45.4245 52.0694 45.4245C48.548 45.4245 45.6831 42.5596 45.6831 39.0381V36.026H24.3253V39.0381C24.3253 42.5596 21.4603 45.4245 17.9388 45.4245ZM52.0694 18.9697C50.8098 18.9697 49.7851 19.9944 49.7851 21.254V39.0381C49.7851 40.2977 50.8098 41.3224 52.0694 41.3224C53.3291 41.3224 54.3537 40.2977 54.3537 39.0381V21.254C54.3537 19.9944 53.3291 18.9697 52.0694 18.9697ZM45.6831 31.9238V28.3682H24.3252V31.9238H45.6831ZM17.9388 18.9697C16.6792 18.9697 15.6544 19.9944 15.6544 21.254V39.0381C15.6544 40.2977 16.6792 41.3224 17.9388 41.3224C19.1984 41.3224 20.2232 40.2977 20.2232 39.0381V21.254C20.2232 19.9944 19.1984 18.9697 17.9388 18.9697Z" fill="var(--modern-accent, #0464fc)"></path>
</g>
</svg></div><h4 class="amenity-name">Virtual Fitness Programming</h4></div></div><div role="listitem" class="collection-item-4 w-dyn-item"><div class="amenities-card"><div class="w-embed"><svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="75" height="75">
<rect width="75" height="75" fill="white"></rect>
</mask>
<g mask="url(#mask0)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M64.022 5H8.72027C3.91192 5 0 8.91192 0 13.7203V43.6804H12.9897V19.433H4.3299V13.7203C4.3299 11.2994 6.29942 9.3299 8.72027 9.3299H34.2062V19.2887H32.3745C27.6545 19.2887 23.8144 23.4474 23.8144 28.5593V53.3505H15.8041V66.3402H34.2062V70.6701H27.4227V75H45.3196V70.6701H38.5361V66.3402H56.9381V53.3505H48.9278V28.5593C48.9278 23.4474 45.0878 19.2887 40.3678 19.2887H38.5361V9.3299H64.022C66.4428 9.3299 68.4124 11.2994 68.4124 13.7203V19.433H59.7526V43.6804H72.7423V13.7203C72.7423 8.91192 68.8303 5 64.022 5V5ZM8.65979 23.7629V39.3505H4.3299V23.7629H8.65979ZM52.6082 62.0103H20.134V57.6804H52.6082V62.0103ZM44.5979 28.5593V53.3505H28.1443V28.5593C28.1443 25.8349 30.042 23.6186 32.3745 23.6186H40.3678C42.7003 23.6186 44.5979 25.8349 44.5979 28.5593ZM68.4124 39.3505H64.0825V23.7629H68.4124V39.3505Z" fill="var(--modern-accent, #0464fc)"></path>
</g>
</svg></div><h4 class="amenity-name">Top of the Line Workout Equipment</h4></div></div><div role="listitem" class="collection-item-4 w-dyn-item"><div class="amenities-card"><div class="w-embed"><svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="75" height="75">
<rect width="75" height="75" fill="white"></rect>
</mask>
<g mask="url(#mask0)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 76V4H71.8197V76H67.6005V72.0639H38.0194V76H33.8003V72.0639H4.21918V76H0ZM33.8003 8.21918H4.21918V35.9223H33.8003V8.21918ZM4.21918 40.1416V67.8448H33.8003V40.1416H4.21918ZM38.0194 67.8448H67.6005V40.1416H38.0194V67.8448ZM38.0194 8.21918V35.9223H67.6005V8.21918H38.0194ZM8.21973 11.8169H29.7998V16.0361H8.21973V11.8169ZM8.21973 19.512H29.7998V23.7311H8.21973V19.512ZM63.6 11.8169H42.02V16.0361H63.6V11.8169ZM42.02 19.512H63.6V23.7311H42.02V19.512ZM8.21973 43.7393H29.7998V47.9584H8.21973V43.7393ZM29.7998 51.4343H8.21973V55.6535H29.7998V51.4343ZM42.02 43.7393H63.6V47.9584H42.02V43.7393ZM63.6 51.4343H42.02V55.6535H63.6V51.4343ZM25.5807 27.9504H29.7999V32.1696H25.5807V27.9504ZM63.6 27.9504H59.3809V32.1696H63.6V27.9504ZM25.5807 59.8728H29.7999V64.092H25.5807V59.8728ZM63.6 59.8728H59.3809V64.092H63.6V59.8728Z" fill="var(--modern-accent, #0464fc)"></path>
</g>
</svg></div><h4 class="amenity-name">Lockers</h4></div></div><div role="listitem" class="collection-item-4 w-dyn-item"><div class="amenities-card"><div class="w-embed"><svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="75" height="75">
<rect width="75" height="75" fill="white"></rect>
</mask>
<g mask="url(#mask0)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M64.5195 38.7252C61.2874 30.6559 57.4855 23.8925 55.4556 20.5008L48.829 5H27.2244C26.0509 12.4767 28.2841 26.9736 42.8828 27.8735C43.482 30.1998 43.9954 33.3643 43.7994 37.023C43.6251 40.2746 44.2362 43.1142 45.1103 45.4385C41.0932 44.493 35.7556 45.7974 32.4314 47.6919C27.5792 43.131 22.5998 42.8203 19.7454 43.1473V39.963H17.5185C7.85884 39.963 0 47.8218 0 57.4815C0 67.1412 7.85884 75 17.5185 75H19.7454V72.0082C24.657 72.465 29.2586 72.6522 33.4976 72.6522C46.2559 72.8819 63.3222 70.0608 70.1667 67.0519C70.6556 58.4503 68.8381 49.6189 64.5195 38.7252V38.7252ZM15.2914 70.3561C9.14452 69.2962 4.45371 63.9262 4.45371 57.4813C4.45371 51.0364 9.14452 45.6664 15.2914 44.6066V70.3561ZM54.1658 66.5755C46.6842 67.814 34.6956 68.9661 19.7453 67.5336V47.6379C21.6061 47.3157 26.0888 47.1893 30.4124 51.9934L31.7395 53.468C36.2512 49.8575 43.9023 47.4171 49.4518 52.473L52.5037 49.2326C52.4573 49.1854 47.8633 44.4232 48.2469 37.2611C48.4999 31.0463 47.4667 27.3928 46.2084 23.477C35.7548 24.015 31.8599 18.0538 31.4376 9.45386H45.8895L51.42 22.391L51.48 22.5311C63.9448 43.1827 65.7293 58.2167 65.784 63.8952C63.8081 64.5181 59.8214 65.6393 54.1658 66.5755Z" fill="var(--modern-accent, #0464fc)"></path>
</g>
</svg></div><h4 class="amenity-name">Personal Training</h4></div></div><div role="listitem" class="collection-item-4 w-dyn-item"><div class="amenities-card"><div class="w-embed"><svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="75" height="75">
<rect width="75" height="75" fill="white"></rect>
</mask>
<g mask="url(#mask0)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M52.4757 40.4881L55.7462 43.7588L24.5049 75L0 50.4952L31.2413 19.2538L34.5119 22.5243L37.7337 19.3026L35.0125 16.5815L35.4337 15.3579C36.9431 10.9734 40.3153 7.56932 44.6854 6.01867L46.035 5.53985L52.915 12.4199L60.3348 5L70.0001 14.6652L62.5803 22.085L69.4606 28.9652L68.9815 30.3148C67.4308 34.6848 64.0267 38.0569 59.6422 39.5663L58.4187 39.9875L55.6975 37.2663L52.4757 40.4881ZM64.1423 14.6653L60.3348 10.8578L55.8438 15.3488L59.6514 19.1563L64.1423 14.6653ZM45.0022 10.3646C42.7265 11.4486 40.9102 13.2655 39.8274 15.5386L59.4615 35.1728C61.7345 34.0899 63.5514 32.2735 64.6354 29.998L45.0022 10.3646ZM52.7685 34.3376L40.6625 22.2316L37.4407 25.4533L49.5467 37.5594L52.7685 34.3376ZM49.8884 43.759L31.2413 25.1117L5.85783 50.4952L24.5049 69.1424L49.8884 43.759ZM35.293 50.4045L32.765 52.9322L16.0385 53.548L15.8862 49.4086L27.9937 48.963L22.6988 43.6681L25.3432 41.0234L39.8519 40.8162L39.9111 44.9577L29.988 45.0995L35.293 50.4045Z" fill="var(--modern-accent, #0464fc)"></path>
</g>
</svg></div><h4 class="amenity-name">Purified Water Dispenser</h4></div></div></div></div></div></div>

<style>
.content-block {
  background-color: rgb(0, 11, 39);
  color: rgb(6, 9, 10);
  padding: 120px 0px 130px;
  gap: normal;
  align-items: normal;
  justify-content: normal;
}
</style>
