---
export interface Props {
  howItWorksHeadline?: string;
}
const { howItWorksHeadline } = Astro.props;
---

<div data-eval-component="FeatureGrid" class="steps-section"><div class="wrapper steps"><div class="heading-wrapper steps"><h2 class="heading-18">{howItWorksHeadline ?? "Getting started is easy"}<br></h2></div><div class="w-dyn-list"><div role="list" class="w-dyn-items"><div role="listitem" class="w-dyn-item"><div class="steps-section-grid"><div class="steps-card"><div style="color:var(--modern-accent, #0464fc)" class="step-card-number">01</div><h4 class="steps-card-title">Book Your Free Intro</h4><div class="steps-card-summary">Tell us a little about yourself and your fitness goals, then pick a time that works for you. We'll set up a free intro session so you can see what we're all about.</div></div><div class="steps-card"><div style="color:var(--modern-accent, #0464fc)" class="step-card-number">02</div><h4 class="steps-card-title">Find a Plan That Works for You</h4><div class="steps-card-summary">Get guidance tailored to your body and progress consistently. We will guide you every step of the way.
</div></div><div class="steps-card"><div style="color:var(--modern-accent, #0464fc)" class="step-card-number">03</div><h4 class="steps-card-title">Build Healthy Habits</h4><div class="steps-card-summary">Getting fit is hard; staying fit is harder. We're here to ensure you build healthy habits and systems that keep you on the right track.
</div></div></div></div></div></div></div></div>

<style>
.feature-grid {
  color: rgb(6, 9, 10);
  padding: 40px 0px 120px;
  gap: normal;
  align-items: normal;
  justify-content: normal;
}
</style>
