---
export interface Props {}
const {  } = Astro.props;
---

<div data-eval-component="LocationBlock" class="footer-links-wrap-3"><div class="footer-links-title-2">pROGRAMS</div><div class="w-dyn-list"><div role="list" class="w-dyn-items"><div role="listitem" class="w-dyn-item"><a href="https://pushpress-site-modern.webflow.io/programs/bootcamp" class="footer-links-2">Bootcamp</a></div><div role="listitem" class="w-dyn-item"><a href="https://pushpress-site-modern.webflow.io/programs/personal-training" class="footer-links-2">Personal Training</a></div><div role="listitem" class="w-dyn-item"><a href="https://pushpress-site-modern.webflow.io/programs/strength-and-stretch" class="footer-links-2">Strength and Stretch</a></div></div></div></div>

<style>
.location-block {
  color: rgb(250, 250, 250);
  padding: 0px;
  gap: normal;
  align-items: normal;
  justify-content: normal;
}
</style>
