---
export interface Props {}
const {  } = Astro.props;
---

<div data-eval-component="TestimonialBand" class="location-section"><div class="wrapper location"><div class="w-dyn-list"><div role="list" class="w-dyn-items"><div role="listitem" class="w-dyn-item"><div class="location-map-container"><div class="heading-wrapper location"><h2 class="location-section-heading">Located just off the Brooklyn Bridge in Brooklyn Heights</h2></div><div class="paragraph-wrapper location"><div class="html-embed-18 w-embed"><p>Working out at the gym isn't easy. But getting there shouldn't be hard. Beta Gym is located and easily accessible from all of Manhattan.</p></div></div></div></div></div></div><div class="location-text-container"><div class="location-map-image"><div id="location-map" class="div-block-41"><div class="collection-list-wrapper-14 w-dyn-list"><div role="list" class="collection-list-15 w-dyn-items"><div role="listitem" class="collection-item-16 w-dyn-item"><div class="rich-text-block map-iframe w-richtext"><div class="w-embed w-iframe"><iframe src="maps/embed%3Fpb=!1m18!1m12!1m3!1d3314.924255839631!2d-118.33730199999998!3d33.814267699999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd4ae67ddc034d:0xae07bbdba3adbc7f!2sTorrance%20Training%20Lab!5e0!3m2!1sen!2sph!4v1668034936840!5m2.html" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div><p>‍</p></div></div></div></div></div></div><div class="location-subcontainer"><div class="w-dyn-list"><div role="list" class="w-dyn-items"><div role="listitem" class="w-dyn-item"><h3 class="contact-details-title">Come visit us</h3><div class="address">495 Broadway b/t Broome St &amp; Spring St
SoHo, New York, NY 10012</div><a href="https://g.page/torrance_training_lab?share" style="background-color:var(--modern-accent, #0464fc)" target="_blank" class="location-section-button w-button">Get Directions</a></div></div></div></div></div></div></div>

<style>
.testimonial-band {
  background-color: rgb(255, 255, 255);
  color: rgb(6, 9, 10);
  padding: 100px 0px 130px;
  gap: normal;
  align-items: normal;
  justify-content: normal;
}
</style>
