---
export interface Props {}
const {  } = Astro.props;
---

<div data-eval-component="Unknown" id="hero" class="hero-image-gradient"></div>

<style>
.unknown {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.17) 80%);
  color: rgb(6, 9, 10);
  padding: 0px;
  display: flex;
  flex-direction: row;
  gap: normal;
  align-items: stretch;
  justify-content: space-between;
}
</style>
